html ,body{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    background-color: #000;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill,min-max(100px,1fr));
    grid-template-rows: repeat(2,1fr);
}